* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-image: url("../img/bg.jpg");*/
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper {
	padding: 0 15px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.field { 
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

@media (min-width: 576px) {
	.field {
		width: 65%;
	}
}

@media (min-width: 768px) {
	.field {
		width: 45%;
	}
}

@media (min-width: 992px) {
	.field {
		width: 35%;
	}
}

@media (min-width: 1200px) {
	.field {
		width: 25%;
	}
}

.score {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 36px;
	line-height: 100%;
}

.score__cross,
.score__zero {
	width: 46%;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: space-between;
	padding: 5px 15px;
	border-radius: 5px;
}

.score__cross {
	color: red;
	border: 1px solid red;
	box-shadow: 5px 5px 7px rgba(255,0,0,0.5);
}

.score__zero {
	color: green;
	border: 1px solid green;
	flex-direction: row-reverse;
	box-shadow: -5px 5px 7px rgba(0,255,0,0.5);
}

.cell {
	box-sizing: border-box;
	width: 33.333333%;
	padding-bottom: 33.333333%;
	border: 2px solid black;
	cursor: pointer;
	position: relative;
}

.cell:nth-of-type(1),
.cell:nth-of-type(2),
.cell:nth-of-type(3) {
	border-top: none;
}

.cell:nth-of-type(3),
.cell:nth-of-type(6),
.cell:nth-of-type(9) {
	border-right: none;
}

.cell:nth-of-type(7),
.cell:nth-of-type(8),
.cell:nth-of-type(9) {
	border-bottom: none;
}

.cell:nth-of-type(1),
.cell:nth-of-type(4),
.cell:nth-of-type(7) {
	border-left: none;
}

.field[data-current-player="cross"] .cell.highlight::before,
.field[data-current-player="cross"] .cell.highlight::after,
.cell[data-mark="cross"]::before,
.cell[data-mark="cross"]::after {
	content: "";
	width: 80%;
	height: 6px;
	border-radius: 3px;
	background: red;
	position: absolute;
	top: 50%;
	left: 50%;
	transition-duration: 0.2s;
}

.field[data-current-player="cross"] .cell.highlight::before,
.cell[data-mark="cross"]::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.field[data-current-player="cross"] .cell.highlight::after,
.cell[data-mark="cross"]::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.field[data-current-player="zero"] .cell.highlight::before,
.cell[data-mark="zero"]::before {
	content: "";
	width: 60%;
	height: 60%;
	border-radius: 50%;
	border: 6px solid green;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition-duration: 0.2s;
}

.highlight::before,
.highlight::after {
	opacity: 0.3;
}

.hr {
	background: #3B2EEB;
	position: absolute;
	border-radius: 3px;
}

.buttons {
	width:100%;
}

@media (min-width: 768px) {
	.buttons {
		text-align: center;
	}
}

.btn {
	font-size: 24px;
	padding: 10px 25px;
	line-height: 100%;
	cursor: pointer;
	background: #3B2EEB;
	color: white;
	border: none;
	border-radius: 5px;
	transition-duration: 0.2s;
	width: 100%;
}

.btn:nth-child(1) {
	margin-bottom: 10px;
}

@media (min-width: 768px) {
	.btn {
		padding: 15px 25px;
		font-size: 28px;
		width: auto;
	}

	.btn:nth-child(1) {
		margin-right: 15px;
		margin-bottom: 0;
	}

	.btn:nth-child(2) {
		margin-left: 15px;
	}
}

.btn:hover {
	background: #4592F5;
}

.btn:active {
	transform: translateY(2px);
}

.btn:focus {
	outline: none;
}
